/*Defino un mapa con los colores de mi sitio)*/
$colores: (
    primario: #FCA311,
    secundario: #14213D,
    auxiliar: #e5e5e5,
    complementario: #7a7575,
);

/*Variables de colores*/
/*$yellow_back: #FCA311;
$btn_color: #14213d;
$hoover_color: #e5e5e5;*/

/*Variables de tipografia*/
$princ_font: 'Roboto', sans-serif;

/*Variables de animaciones y transiciones*/
$translateY: -10%;
$escala: 0.95;

/*Variables de titulos*/
$sombra_titulo: 5px 5px 15px map-get($colores, complementario);

/*Defino mis extends*/
.background_properties{
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn_basic{
    margin: auto;
    padding: 5px;
    border-radius: 10px;
}

/*Declaro mixins*/
@mixin button ($font, $weight, $color, $back_color, $shadow) {
    font-size: $font;
    font-weight: $weight;
    color: $color;
    background-color: $back_color;
    text-shadow: $shadow;
}