
/*Variables de colores*/
$yellow_back: #FCA311;
$btn_color: #14213d;
$hoover_color: #e5e5e5;

/*Variables de tipografia*/
$princ_font: 'Roboto', sans-serif;

/*Variables de animaciones y transiciones*/
$translateY: -10%;
$escala: 0.95;

/*Variables de titulos*/
$sombra_titulo: 5px 5px 15px #7a7575;