*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/*Para el diseño de la página se emplea la paleta de colores https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */

/*Estilo del Body*/
body{
    background-color: #FCA311;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #000000;
}