/*Estilo de la pagina contact*/

.contact__title{
    width: fit-content;
    font-size: 1.8rem;
    border-radius: 15px;
    margin: 10px;
    padding: 5px 10px;
}
.contact__formulario{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & div{
        margin-top: 10px;
    }
    & input, select, textarea {
        width: 70%;
        display: block;
        background-color: map-get($colores, complementario);
        color: map-get($colores, auxiliar);
        @extend .btn_basic;
        transition: background-color 0.1s;
    }
    & input:focus{
        background-color: map-get($colores, secundario);
        color: map-get($colores, auxiliar);
    }
    & textarea:focus{
        background-color: map-get($colores, secundario);
        color: map-get($colores, auxiliar);
    }
}
.contact__formulario__enviar{
    width: auto;
    display: block;
    background-color: map-get($colores, primario);
    @extend .btn_basic;
    font-weight: bold;
    transition: background-color 0.1s,
                color 0.1s;
    &:active{
        background-color: map-get($colores, secundario);
        color: #ffffff;
    }
}
::placeholder{
    color: map-get($colores, auxiliar);
}
.location__maps{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.location iframe{
    margin: 10px;
}