.main__contenedor{
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    &__title{
        position: relative;
        text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
    }
    video {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &__overlay{
        background-color: #000000;
        opacity: 0.50;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__background{
        background-color: #7a757591;
    }
}
.main__title{
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: $sombra_titulo;
    width: 70%;
    margin-top: auto;
    margin-bottom: 40px;
    text-align: center;
}
.main__subtitle{
    font-size: 1.5rem;
    color: #FFFFFF;
    width: 80%;
    text-align: center;
}
.main__link{
    @include button(1.5rem, bold, #000000, map-get($colores,primario), none);
    padding: 10px;
    border-radius:10px;
    margin-bottom: 30px;
    margin-top:auto;
    transition: color 0.2s linear, 
                background-color 0.2s linear,
                transform 0.2s;
    &:hover{
        background-color: map-get($colores, auxiliar);
        color: map-get($colores, secundario) ;
        transform: translateY($translateY);
    }
}
.img-contain{
    object-fit: contain;
}