/*Estilo de la página login*/
.accesoImg{
    background-image: url(../img/login.png);
    @extend .background_properties;
    height: 70vh;
}
.acceso{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login__img{
    display: block;
    width: 100%;
}
.formulario__login{
    display:block;
    height: auto;
    margin: 30px 0;
}
.contact__formulario label, a{
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 3px 3px 10px map-get($colores, complementario);
}
