.productos{
    margin-top: 10px;
    &_1{
        justify-items: center;
        align-self: center;
        &__img{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
    }
    &_2{
        justify-items: center;
        align-self: center;
        &__img{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
    }
}

.product__title{
    text-align: center;
    color: map-get($colores, secundario);
    background-color: map-get($colores, auxiliar);
    font-size: 1.5rem; 
    width: 60%;
    margin: auto;
    padding: 10px;
    border: 4px solid map-get($colores, secundario);
    border-radius: 20px
}