/*Estilo de la página services*/

.section__title--services {
    margin: auto;
    padding: 5px;
    border-radius: 15px;
}

.servicios__descripcion p{
    background-color: #7a7575;
}
.sectionAbout__text ul{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
    list-style-type: none;
    font-weight: 600;
}