/*Estilo de la página services*/

.section__title--services {
    @extend .btn_basic;
}

.servicios__descripcion p{
    background-color: map-get($colores, complementario);
}
.sectionAbout__text ul{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
    list-style-type: none;
    font-weight: 600;
}